{% extends 'admin_home.html' %}


{% block main %}


<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">



<script>
$(document).ready(function() {
$('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
   </script>

<div class="card shadow m-2">
  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange"> All Employee Detail </h5>

    <div class="container-fluid">
      <table class="table table-bordered table-hover" id= "example">
        <thead class="text-danger">
          <tr>
            <th>S.NO</th>
            <th>Emp_code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Contact NO</th>
            <th>joiningdate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for i in employee %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.empcode}}</td>
            <td>{{i.user.first_name}}</td>
            <td>{{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.joiningdate}}</td>
            <td><a href="{% url 'edit_education' i.user.id %}">Edit Education detail</a><br>
              <a href="{% url 'delete_employee' i.user.id %}" class="text-danger" onclick="return confirm('Are you sure!')">Delete</a>


          </tr>
          {% endfor %}
        </tbody>
      </table>


</div>
</div>
</div>

{% endblock %}
