{% extends 'emp_base.html' %}

{% block main %}

<div class="card shadow m-2">
  <div class="card-body">
    <a href="{% url 'my_education'%}" class="btn btn-primary float-right">View Education Detail </a>
    <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange"> My Education </h5>

    <div class="container-fluid">
      <form method ="post">
        {% csrf_token %}
      <table class='table table-bordered'>

        <tr>
          <th>PG Course Name </th>
          <td><input type="text" name="coursepg" class=form-control value="{{education.coursepg}}"> </td>
        </tr>
        <tr>
          <th>PG clg </th>
          <td><input type="text" name="schoolclgpg" class=form-control value="{{education.schoolclgpg}}"> </td>
        </tr>
        <tr>
          <th>Post Graduation clg </th>
          <td><input type="text" name="yearofpassingpg" class=form-control value="{{education.yearofpassingpg}}"> </td>
        </tr>
        <tr>
          <th>PG percentage </th>
          <td><input type="text" name="percentagepg" class=form-control value="{{education.percentagepg}}"> </td>
        </tr>
        <tr>
          <th>UG course name </th>
          <td><input type="text" name="courseug" class=form-control value="{{education.courseug}}"></td>
        </tr>
        <tr>
          <th>UG clg name </th>
          <td><input type="text" name="schoolclgug" class=form-control value={{education.schoolclgug}} ></td>
        </tr>
        <tr>
          <th>UG year of passing </th>
          <td><input type="text" name="yearofpassingug" class=form-control value="{{education.yearofpassingug}}"> </td>
        </tr>
        <tr>
          <th>UG percentage </th>
          <td><input type="text" name="percentageug" class=form-control value="{{education.percentageug}}"> </td>
        </tr>
        <tr>
          <th>SSC course  </th>
          <td><input type="text" name="coursessc" class=form-control value="{{education.coursessc}}"> </td>
        </tr>
        <tr>
          <th>SSC school name </th>
          <td><input type="text" name="schoolclgssc" class=form-control value="{{education.schoolclgssc}} "></td>
        </tr>
        <tr>
          <th>SSC year of passing </th>
          <td><input type="text" name="yearofpassingssc" class=form-control value="{{education.yearofpassingssc}}"> </td>
        </tr>
        <tr>
          <th>SSC percentage </th>
          <td><input type="text" name="percentagessc" class=form-control value="{{education.percentagessc}}" ></td>
        </tr><tr>
          <th>HSC course  </th>
          <td><input type="text" name="coursehsc" class=form-control value="{{education.coursehsc}}"> </td>
        </tr>
        <tr>
          <th>hsc school name </th>
          <td><input type="text" name="schoolclghsc" class=form-control value="{{education.schoolclghsc}} "></td>
        </tr>
        <tr>
          <th>HSC year of passing </th>
          <td><input type="text" name="yearofpassinghsc" class=form-control value="{{education.yearofpassinghsc}}"> </td>
        </tr>
        <tr>
          <th>HSC percentage </th>
          <td><input type="text" name="percentagehsc" class=form-control value="{{education.percentagehsc}}" ></td>
        </tr>


      </table>
      <center><input type="submit" name="" value="Submit" class= "btn btn-primary  px-3"></center>
      </form>

</div>
</div>
</div>

{% if error == "no" %}

<script>
  alert('education details updated Successfully');
  window.location = ('{% url 'my_education' %}');

  </script>
    {% endif %}
  {% if error == "yes" %}
    <script>
      alert('Something went wrong');

      </script>
    {% endif %}

{% endblock %}
