{% extends 'emp_base.html' %}

{% block main %}

<div class="card shadow m-2">
  <div class="card-body">
    <a href="{% url 'my_experience'%}" class="btn btn-primary float-right">View work experience </a>
    <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange"> My work experience </h5>

    <div class="container-fluid">
      <form method ="post">
        {% csrf_token %}
      <table class='table table-bordered'>

        <tr>
          <th>First Company Name </th>
          <td><input type="text" name="company1name" class=form-control value="{{experience.company1name}}"> </td>
        </tr>
        <tr>
          <th>First Job designation </th>
          <td><input type="text" name="company1desig" class=form-control value="{{experience.company1desig}}"> </td>
        </tr>
        <tr>
          <th>First Company salary </th>
          <td><input type="text" name="company1sal" class=form-control value="{{experience.company1sal}}"> </td>
        </tr>
        <tr>
          <th>First Company duration </th>
          <td><input type="text" name="company1duration" class=form-control value="{{experience.company1duration}}"> </td>
        </tr>
        <tr>
          <th>Second Company Name </th>
          <td><input type="text" name="company2name" class=form-control value="{{experience.company2name}}"></td>
        </tr>
        <tr>
          <th>second Job designation </th>
          <td><input type="text" name="company2desig" class=form-control value={{experience.company2desig}} ></td>
        </tr>
        <tr>
          <th>Second Company salary </th>
          <td><input type="text" name="company2sal" class=form-control value="{{experience.company2sal}}"> </td>
        </tr>
        <tr>
          <th>Second company duration </th>
          <td><input type="text" name="company2duration" class=form-control value="{{experience.company2duration}}"> </td>
        </tr>
        <tr>
          <th>Third Company Name </th>
          <td><input type="text" name="company3name" class=form-control value="{{experience.company3name}}"> </td>
        </tr>
        <tr>
          <th>Third Job designation </th>
          <td><input type="text" name="company3desig" class=form-control value="{{experience.company3desig}} "></td>
        </tr>
        <tr>
          <th>Third Company salary </th>
          <td><input type="text" name="company3sal" class=form-control value="{{experience.company3sal}}"> </td>
        </tr>
        <tr>
          <th>Third Company duration </th>
          <td><input type="text" name="company3duration" class=form-control value="{{experience.company3duration}}" ></td>
        </tr>

      </table>
      <center><input type="submit" name="" value="Submit" class= "btn btn-primary  px-3"></center>
      </form>

</div>
</div>
</div>

{% if error == "no" %}

<script>
  alert('Experience details updated Successfully');
  window.location = ('{% url 'edit_experience' %}');

  </script>
    {% endif %}
  {% if error == "yes" %}
    <script>
      alert('Something went wrong');

      </script>
    {% endif %}

{% endblock %}
