{% extends 'emp_base.html' %}

{% block main %}

<div class="card shadow m-2">
  <div class="card-body">
    <a href="{% url 'edit_experience' %}" class="btn btn-primary float-right">Edit Work experience </a>
    <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange"> My work experience </h5>

    <div class="container-fluid">
      <table class='table table-bordered'>
        <tr>
          <th>First Company Name </th>
          <td>{{experience.company1name}} </td>
        </tr>
        <tr>
          <th>First Job designation </th>
          <td>{{experience.company1desig}} </td>
        </tr>
        <tr>
          <th>First Company salary </th>
          <td>{{experience.company1sal}} </td>
        </tr>
        <tr>
          <th>First Company duration </th>
          <td>{{experience.company1duration}} </td>
        </tr>
        <tr>
          <th>Second Company Name </th>
          <td>{{experience.company2name}} </td>
        </tr>
        <tr>
          <th>second Job designation </th>
          <td>{{experience.company2desig}} </td>
        </tr>
        <tr>
          <th>Second Company salary </th>
          <td>{{experience.company2sal}} </td>
        </tr>
        <tr>
          <th>Second company duration </th>
          <td>{{experience.company2duration}} </td>
        </tr>
        <tr>
          <th>Third Company Name </th>
          <td>{{experience.company3name}} </td>
        </tr>
        <tr>
          <th>Third Job designation </th>
          <td>{{experience.company3desig}} </td>
        </tr>
        <tr>
          <th>Third Company salary </th>
          <td>{{experience.company3sal}} </td>
        </tr>
        <tr>
          <th>Third Company duration </th>
          <td>{{experience.company3duration}} </td>
        </tr>

      </table>

</div>
</div>
</div>

{% endblock %}
